body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #c8e4ca;
  }
  
  .registrador {
    font-family: Arial, sans-serif;
    width: 300px;
    padding: 20px;
    border: 3px solid #0f0b0b;
    border-radius: 5px;
  }
  
  .formulario {
    margin-bottom: 20px;
  }
  #error{
    padding: 5px;
    color: #c70e01;
    border: 1px solid rgb(207, 12, 12);
    display: none;
   }  
  
  input[type="text"],
  input[type="number"],
  select {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .resultado {
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }


